server {
    #labyrinthnavi

    listen *:${LABY_PORT};
    keepalive_timeout 0;

    access_log  /var/log/nginx/laby_access.log  main;

    location / {
        proxy_pass http://labyrinth:${LABY_PORT};
    }
}